#include "soa39.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            ;
};

&animation_layer_status {
    pixels = <3 2 1 0>;
};

&endpoint_status_animation {
    pixels = <3 2 1 0>;
};

&battery_status_animation {
    pixels = <3 2 1 0>;
};

