#include "soa39.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            ;
};

// Pin control for SPI1 (LED Strip)
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 19)>,
                <NRF_PSEL(SPIM_MISO, 0, 19)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 19)>,
                <NRF_PSEL(SPIM_MISO, 0, 19)>;
            low-power-enable;
        };
    };
};

/ {
    // Animation Configuration
    pixel_0: pixel_0 {
        compatible = "zmk,animation-pixel";
        #pixel-cells = <2>;
        position_x = <0>;
        position_y = <0>;
    };

    animation: animation {
        compatible = "zmk,animation";
        drivers = <&led_strip>;
        chain-lengths = <1>;
        pixels = <&pixel_0 0 0>;
        
        // Layer status animation
        animation_layer_status: animation_layer_status {
            compatible = "zmk,animation-layer-status";
            pixels = <0>;
            default-color = <0x000000>;  // Black for default layer
            colors = <0xFF0000    // Red for layer 1 (Mouse)
                     0x00FF00    // Green for layer 2 (Function)
                     0xFFFF00    // Yellow for layer 3 (Number)
                     0x0000FF    // Blue for layer 4 (Arrow)
                     0xFF00FF    // Magenta for layer 5 (Scroll)
                     0x00FFFF>;  // Cyan for layer 6 (Bluetooth)
        };

        // Battery level animation
        animation_battery_level: animation_battery_level {
            compatible = "zmk,animation-battery-level";
            pixels = <0>;
        };

        // Endpoint status animation
        animation_endpoint: animation_endpoint {
            compatible = "zmk,animation-endpoint";
            pixels = <0>;
            color-open = <0xFFFF00>;          // Yellow for advertising
            color-connected = <0x0000FF>;     // Blue for connected
            color-disconnected = <0xFF0000>;  // Red for disconnected
            color-usb = <0x00FF00>;           // Green for USB connected
        };
    };
};

