#include "soa39.dtsi"

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            ;
};

// Set P0.19 HIGH for WS2812 white light
/ {
    ws2812_power_init {
        compatible = "regulator-fixed";
        regulator-name = "ws2812-power";
        enable-gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
        regulator-boot-on;
        regulator-always-on;
        startup-delay-us = <1000>;
    };
};

